<footer>
  <!-- Footer Top -->
  <div class="bg-[#0F3460]">
    <div class="flex flex-auto justify-between px-24 py-14">
      <!-- Logo -->
      <div class="hidden md:flex items-center w-36 ">
        <img
          src="../../assets/kok-tarang-high-resolution-logo-white-on-transparent-background.png"
          alt=""
        />
      </div>

      <!-- About Kok Tarang -->
      <div class="text-white">
        <!-- 1 -->
        <div class="mb-3">About Kok Tarang</div>

        <!-- 2 -->
        <div class="font-thin mb-1">About Us</div>

        <!-- 3 -->
        <div class="font-thin mb-1">Contact Us</div>

        <!-- 4 -->
        <div class="font-thin mb-1">Terms & Conditions</div>

        <!-- 5 -->
        <div class="font-thin mb-1">Privacy Policy</div>
      </div>

      <!-- Follow Us -->
      <div class="text-white">
        <!-- 1 -->
        <div class="mb-3">Follow Us</div>

        <!-- 2 -->
        <div class="font-thin mb-1">Instagram</div>

        <!-- 3 -->
        <div class="font-thin mb-1">YouTube</div>

        <!-- 4 -->
        <div class="font-thin mb-1">Facebook</div>

        <!-- 5 -->
        <div class="font-thin mb-1">Linkedln</div>
      </div>

      <!-- Download -->
      <div class="text-white hidden lg:flex">
        <div class="">
            <div class="mb-3">Download Kok Tarang</div>
            <div>
                <img src="../../assets/playstore.png" alt="" class="w-32 mb-2" />
            </div>
            <div>
                <img src="../../assets/appstore.png" alt="" class="w-32" />
            </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer Down -->
  <div
    class="text-sm bg-[#0F3460] text-[#FFFFFF] text-center border-t-2 border-black py-2 font-thin"
  >
    &#174; 2022 Kok Tarang LLC All rights reserved.
  </div>

</footer>
